body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 640px;
  }
  
  .titulo-principal {
      margin-bottom: 30px;
      margin-top: 20px;
      text-align: center;
  }
  
  .negrito {
      font-weight: 700;
  }
  
  .numero-grande {
      font-size: 90px;
  }
  
  .numero-medio {
      font-size: 35px;
  }
  
  .texto-grande {
      font-size: x-large;
  }
  
  .texto-medio {
      font-size: x-large;
  }
  
  .cor-numero {
      color: #6C7A89;
  }
  
  .cor-card-titulo {
      color: #466163;
  }
  