<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Coronavírus no Brasil</title>
	<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	<div id="container">
		<h1>Números do coronavírus no Brasil</h1>
		<hr />
		<div class="card">
			<div class="card-body">
				<h5 class="card-header cor-card-titulo">Casos confirmados no Brasil</h5>
				<p class="card-text numero-grande negrito cor-numero">{{confirmados_brasil}}</p>
			</div>
			<div class="card-body">
				<h5 class="card-header cor-card-titulo">Óbitos</h5>
				<p class="card-text numero-grande negrito cor-numero">{{obitos_brasil}}</p>
			</div>
			<div class="card-body">
				<h5 class="card-header cor-card-titulo">Primeiro caso confirmado</h5>
				<p class="card-text numero-grande negrito cor-numero">{{primeiro_caso_confirmado}}</p>
			</div>
			<div class="card-body">
				<h5 class="card-header cor-card-titulo">Pior dia até agora</h5>
				<p class="numero-medio negrito">{{data_pior_dia}}</p>
				<p class="card-text texto-medio">com</p>
				<p class="card-text numero-grande negrito cor-numero">{{casos_pior_dia}}</p>
				<p class="card-text texto-medio">novos casos confirmados</p>
			</div>
			<div class="card-body">
				<h5 class="card-header cor-card-titulo">Casos confirmados no Brasil</h5>
				<canvas id="grafico-casos-confirmados" width="600" height="400"></canvas>
			</div>
			<div class="card-body">
				<h5 class="card-header cor-card-titulo">Casos confirmados nas regiões</h5>
				<canvas id="grafico-casos-confirmados-regioes" width="600" height="400"></canvas>
			</div>
			<div class="card-footer text-muted">
				Código fonte: <a href="https://github.com/filipemanuelofs/api-covid-19-brasil/"
					class="badge badge-dark">Github</a>
			</div>
		</div>
	</div>
	<script>
		window.onload = function () {
			var ctx_grafico_casos_confirmados = document.getElementById('grafico-casos-confirmados').getContext('2d');
			window.myLine = new Chart(ctx_grafico_casos_confirmados, {
				type: 'line',
				data: {
					labels: {{ datas_grafico_1 | tojson}},
					datasets: [{
							label: 'Casos confirmados',
							backgroundColor: "rgb(201,55,86,0.7)",
							borderColor: "rgb(201,55,86,0.5)",
							data: {{ confirmados_grafico_1 | tojson}},
							fill: true,
						}]
				},
				options: {
					responsive: false,
						title: { },
					tooltips: {
						mode: 'index',
							intersect: false,
							},
					hover: {
						mode: 'nearest',
							intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Período'
							}
						}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Casos confirmados'
								}
							}]
					}
				}
			});
			var ctx_grafico_casos_confirmados_regioes = document.getElementById('grafico-casos-confirmados-regioes').getContext('2d');
			var label_estados = {{ regioes_grafico_2 | tojson}};
			window.myBar = new Chart(ctx_grafico_casos_confirmados_regioes, {
				type: 'bar',
				data: {
					labels: {{ regioes_grafico_2 | tojson}},
					datasets: [{
						label: 'Casos confirmados',
						backgroundColor: ["#8d608c", "#7e567e", "#704c70", "#624362", "#543954"],
						borderColor: [],
						data: {{ confirmados_grafico_2 | tojson}},
						fill: true,
						}]
					},
				options: {
				responsive: true,
				legend: {
					position: 'top',
				}
			}
			});
		};
	</script>
</body>

</html>